body {
        margin: 0;
        padding: 0;
        background-color: #ECF3FF;
        overflow-x: hidden;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
        background-color: #ffffff;
        box-shadow: 1px 1px 20px #b4b4b4;
}

.header-container {
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 20px;
        max-width: 1550px;
        margin: auto;
}

.client-panel-menu button {
        background: none;
        border: none;
        padding: 5px;
}

.client-panel-menu button:hover {
        cursor: pointer;
}

.client-panel-menu button:first-child:hover {
        background-color: #f1f1f1;
        border-radius: 5px;
}

.client-panel-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
}

.search-menu {
        display: flex;
        width: 500px;
        justify-content: space-between;
}

.search-menu input {
        height: 30px;
        width: 270px;
        outline: none;
        border-radius: 5px 0 0 5px;
        border-color: #e4e7ee61;
}

.search-menu button:first-child {
        display: flex;
        border: none;
        align-items: center;
        color: #ffffff;
        background: linear-gradient(90deg, #F64D4D 0%, #4D5EF6 100%);
        border-radius: 5px;
        width: 115px;
        font-weight: bold;
}


#burger-menu {
        display: none;
        border: none;
        align-items: center;
        color: #ffffff;
        background: linear-gradient(90deg, #F64D4D 0%, #4D5EF6 100%);
        border-radius: 5px;
        width: 38px;
        font-weight: bold;
}

#burger-menu:hover {
        cursor: pointer;
}

.cart-item-count {
        width: 20px;
        height: 15px;
        background-color: #0D63F3;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
        position: absolute;
        margin-top: -5px;
        margin-left: 25px;
        padding: 1.5px;
        text-align: center;
}

.search-menu button:first-child:hover {
        cursor: pointer;
}

.search-field-wrapper {
        display: flex;
}

.search-menu button:last-child {
        background-color: #0D63F3;
        border: none;
        border-radius: 0 5px 5px 0;
}

.search-menu button:last-child :hover {
        cursor: pointer;
}

.grid-container {
        display: grid;
        grid-template-columns: 300px 1260px;
        grid-auto-rows: 100px auto;
        align-items: start;
        justify-content: center;
}

#products-container {
        display: flex;
        /*flex*/
        flex-wrap: wrap;
        grid-column-start: 3;
        grid-column-end: 2;
        grid-row-start: 2;
        margin-left: 20px;
}

.info-text p {
        font-size: 15px;
        margin: 6px 0;
        color: #00000080;
        text-align: justify;
        overflow: hidden;
        height: 120px;
}

.info-text h2 {
        height: 48px;
        overflow: hidden;
}

#rating {
        display: inline-block;
        padding-bottom: 20px;
}

#rating img {
        width: 20px;
        height: 20px;
        filter: grayscale(100%);
}

#current-product-rating {
        display: inline-block;
        padding-bottom: 20px;
}

#current-product-rating img {
        width: 20px;
        height: 20px;
        filter: grayscale(100%);
}

.img-wrapper {
        height: 190px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
}

.img-wrapper img {
        height: 100%;
        width: 100%;
        padding: 20px;
        object-fit: contain;
}

.products-item {
        width: 230px;
        height: 400px;
        margin: 20px;
        background-color: #ffffff;
        padding: 20px;
        padding-top: 0;
        border-radius: 10px;
        box-shadow: 1px 1px 20px 5px #dcdcdc;
}

.products-item-hidden {
        height: 140px;
        width: 230px;
        padding: 10px 20px 20px 20px;
        background-color: #ffffff;
        display: var(--state);
        margin-left: -20px;
        position: absolute;
        border-radius: 0 0 10px 10px;
        box-shadow: 1px 16px 25px -5px #dcdcdc;
        overflow: hidden;
}

.products-item:hover {
        cursor: pointer;
}

.products-item h2 {
        margin: 6px 0;
        font-size: 18px;
}

.products-btns {
        display: flex;
        justify-content: space-between;
        height: 40px;
}

.products-btns button:first-child {
        width: 120px;
        background-color: #0D63F3;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
}

.products-btns button:first-child:hover {
        background-color: #0d51c5;
        cursor: pointer;
}

.products-btns button:nth-child(2) {
        background-color: transparent;
        border: none;
}

.products-btns button:nth-child(2):hover {
        cursor: pointer;
        background-color: #f1f1f1;
        border-radius: 5px;
}

#filter-container {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 1px 1px 20px 5px #dcdcdc;
        display: inherit;
}

.sort-btn {
        width: 100%;
        display: inline-block;
        text-align: end;
}

.sort-btn select {
        height: 41px;
        font-size: 15px;
        width: 220px;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 1px 20px 5px #dcdcdc;
}

.sort-btn select:hover {
        cursor: pointer;
        background-color: #fafafa;
}

footer {
        background: linear-gradient(90deg, rgba(246, 77, 77, 0.45) 0%, rgba(77, 94, 246, 0.5) 100%);
        width: 100%;
        height: 450px;
        bottom: 0;
        box-shadow: 1px 1px 20px #b4b4b4;
        margin-top: 80px;
}

.additional-info {
        display: flex;
        border-bottom: 1px solid brown;
        justify-content: space-between;
        padding: 60px 20px 40px 20px;
        max-width: 1200px;
        margin: auto;
        flex-wrap: wrap;
}

.left-columns {
        display: flex;
        width: 500px;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 30px;
}

.left-columns .column ul {
        padding: 0;
}

.additional-info .left-columns .column ul li {
        list-style: none;
        padding: 8px 0;
}

.additional-info .left-columns .column ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        font-family: Inter, sans-serif;
}

.additional-info .left-columns .column ul li:nth-child(1n+2) a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        color: #fafafa;
}

.additional-info .left-columns .column ul li:first-child {
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        font-family: Inter, sans-serif;
}

.right-columns .column ul {
        padding: 0;
}

.additional-info .right-columns .column ul li {
        list-style: none;
        padding: 8px 0;
}

.additional-info .right-columns .column ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        font-family: Inter, sans-serif;
}

.additional-info .right-columns .column ul li:nth-child(1n+2) a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        color: #fafafa;
}

.additional-info .right-columns .column ul li:first-child {
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        font-family: Inter, sans-serif;
}

#cart-container {
        max-width: 800px;
        height: 800px;
        background-color: #ffffff;
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 5%;
        margin: 0 auto;
        display: none;
        border-radius: 10px;
        padding: 30px;
}

#cart-container h2 {
        margin-top: 0;
}

#shadow-bg {
        width: 100%;
        background-color: #00000085;
        z-index: 1;
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
}

#btn-close {
        width: 35px;
        height: 35px;
        background-color: #850000;
}

#btn-close:hover {
        cursor: pointer;
}

.upper-panel {
        display: flex;
        justify-content: space-between;
}

#cart-receipt {
        border: 2px solid #0D63F3;
        border-radius: 5px;
        background-color: #ECF3FF;
        max-width: 740px;
        height: 100px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
}

#cart-receipt button {
        height: 50px;
        background-color: #0D63F3;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        max-width: 300px;
        padding: 10px;
}

#cart-receipt button:hover {
        cursor: pointer;
        background-color: #0d51c5;
}

.price-count-cart p {
        font-size: 23px;
        margin-top: 0;
        font-weight: bold;
}

.price-count-cart {
        display: flex;
        justify-content: space-between;
}

#no-items {
        display: none;
        justify-content: center;
        align-items: center;
        height: 600px;
        flex-direction: column;
}

#items-cart {
        max-width: 100%;
        height: 170px;
        background-color: #ecf3ff;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 20px 5px #dcdcdc;
}

.cart-item-body {
        display: flex;
        font-size: 14px;
        overflow: hidden;
        text-align: justify;
        height: 70px;
        align-items: center;
        margin-top: 20px;
}

.cart-item-body img {
        width: 85px;
        height: 65px;
        padding-right: 20px;
}

#have-items {
        height: 550px;
        overflow: auto;
}

.cart-item-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
}

.cart-item-footer img:first-child {
        width: 35px;
        height: 30px;
        display: block;
}

.cross-close {
        top: 115px;
        right: 70px;
        width: 15px;
        height: 15px;
        float: right;
        padding: 5px;
}

.cross-close:hover {
        cursor: pointer;
        background-color: #850000;
        content: url("Images/cross-close-hover.png");
}

.items-count {
        display: flex;
        align-items: center;
}

.items-count button {
        height: 35px;
        width: 40px;
        font-size: 20px;
        margin: 0 15px;
        background-color: #0D63F3;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-weight: bold;
}

.items-count button:hover {
        cursor: pointer;
        background-color: #0d51c5;
}

.count-field {
        max-width: 50px;
        height: 30px;
        border: none;
        box-shadow: 1px 1px 20px 5px #dcdcdc;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
}

#price-this-item {
        margin: 0;
        font-size: 23px;
}

.input-settings-price {
        padding: 0 0 10px 0;
}

.input-settings-price input {
        width: 60px;
        height: 20px;
        outline: none;
        border-radius: 5px;
        border-color: #e4e7ee;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
}

.btn-filtering {
        width: 120px;
        background-color: #0D63F3;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        height: 40px;
}

.btn-filtering:hover {
        cursor: pointer;
        background-color: #0d51c5;
}

.btn-filtering-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
}

#catalog, #brands, #screen-size, #memory-size label {
        margin: 10px 0;
        font-size: 18px;
}

#catalog input {
        width: 20px;
        height: 20px;
}

#brands input {
        width: 20px;
        height: 20px;
}

#screen-size input {
        width: 20px;
        height: 20px;
}

#memory-size input {
        width: 20px;
        height: 20px;
}

.column-social {
        justify-content: space-evenly;
        display: flex;
}

.column-social a:hover {
        cursor: pointer;
}

.social {
        max-width: 1240px;
        margin: auto;
        margin-top: 20px;
}

#items-container {
        margin: auto;
        max-width: 1600px;
        height: 800px;
        background-color: #ffffff;
        box-shadow: 1px 1px 20px 5px #dcdcdc;
        margin-top: 50px;
        display: none;
}

#items-container .left-column {
        display: flex;
        width: 1000px;
        height: 600px;
        flex-direction: column;
        margin: auto;
        justify-content: flex-end;
}

#items-container .right-column {
        width: 800px;
        height: 600px;
}

#items-container .right-column h3 {
        font-size: 27px;
}

#items-container .right-column h3:nth-child(6) {
        font-size: 27px;
        margin-top: 0;
}

#items-container .right-column h3:nth-child(4) {
        font-size: 27px;
        margin-bottom: 10px;
}

#items-container .left-column .main-image {
        object-fit: contain;
        width: 90%;
        padding: 20px;
        height: 90%;
}

.btn-buy-current-items {
        width: 170px;
        background-color: #0D63F3;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        height: 40px;
}

.btn-buy-current-items:hover {
        background-color: #0d51c5;
        cursor: pointer;
}

#current-product-btns {
        display: flex;
        justify-content: space-evenly;
        height: 40px;
        border: 2px solid #0D63F3;
        border-radius: 5px;
        background-color: #ECF3FF;
        max-width: 740px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        flex-wrap: wrap;
}

#description-of-item {
        font-size: 20px;
}

.btn-back img {
        position: absolute;
        height: 50px;
        width: 50px;
}

.btn-back img:hover {
        cursor: pointer;
        opacity: 0.8;
}

#current-product-btns button:nth-child(2) {
        background-color: #ffffff;
        border: 2px solid #0D63F3;
        color: #0D63F3;
}

#current-product-btns button:nth-child(2):hover {
        background-color: #0D63F3;
        color: #ffffff;
}

#current-product-btns button:nth-child(3) {
        background-color: #ffffff;
        border: 2px solid #0D63F3;
        color: #0D63F3;
}

#current-product-btns button:nth-child(3):hover {
        background-color: #ebebeb;
}

#current-product-btns button:nth-child(3) img {
        position: absolute;
        margin-top: -10px;
}

#imgs-carrousel {
        height: 50px;
        margin: auto;
}

#imgs-carrousel img {
        margin: 70px 10px;
        object-fit: contain;
        padding: 10px;
        height: 90%;
}

#imgs-carrousel img:hover {
        cursor: pointer;
}

.column {
        padding: 0 10px;
}